@font-face {
  font-family: 'Gravity-Bold';
  src: url('../fonts/Gravity-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Gravity-Bold.woff') format('woff'), 
    url('../fonts/Gravity-Bold.ttf')  format('truetype'), 
    url('../fonts/Gravity-Bold.svg#Gravity-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Gravity-Regular';
  src: url('../fonts/Gravity-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Gravity-Regular.woff') format('woff'), 
    url('../fonts/Gravity-Regular.ttf')  format('truetype'), 
    url('../fonts/Gravity-Regular.svg#Gravity-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}

/*======= Global Rules ====*/

body,.widget-title{
	font-family: "Gravity-Regular" !important;
}

h1,h2,h3,h4,ul#primary-menu.main-nav > li > a .menu-text{
	font-family: "Gravity-Bold" !important;
}
/*======= Global Rules ====*/
/*======= Header Begin ========*/
ul#primary-menu span.menu-text{
	text-transform: uppercase;
}

/*======= Header End ========*/
/*======= Footer Begin =========*/

.mailster-wrapper.mailster-submit-wrapper.form-submit {
    display: inline-block;
    width: 20%;
}

.mailster-wrapper.mailster-email-wrapper {
    width: 75%;
    display: inline-block;
}
input.submit-button.button {
    width: 100%;
    text-transform: uppercase;
}
/*======= Footer End =========*/