@font-face {
  font-family: 'Gravity-Bold';
  src: url('../fonts/Gravity-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Gravity-Bold.woff') format('woff'), 
    url('../fonts/Gravity-Bold.ttf')  format('truetype'), 
    url('../fonts/Gravity-Bold.svg#Gravity-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Gravity-Regular';
  src: url('../fonts/Gravity-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Gravity-Regular.woff') format('woff'), 
    url('../fonts/Gravity-Regular.ttf')  format('truetype'), 
    url('../fonts/Gravity-Regular.svg#Gravity-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}

/*======= Global Rules ====*/

body,.widget-title{
	font-family: "Gravity-Regular" !important;
}

h1,h2,h3,h4,ul#primary-menu.main-nav > li > a .menu-text{
	font-family: "Gravity-Bold" !important;
}

.btn-3d #place_order:active:after, .btn-3d .button.wc-backward:active:after, .btn-3d .checkout-button:active:after, .btn-3d .dt-btn:not(.btn-light):not(.light-bg-btn):not(.outline-btn):not(.outline-bg-btn):active:after, .btn-3d .dt-form button:active:after, .btn-3d .dt-wc-btn:active:after, .btn-3d .mc4wp-form input[type=submit]:active:after, .btn-3d .nsu-submit:active:after, .btn-3d .post-password-form input[type=submit]:active:after, .btn-3d .single_add_to_cart_button.button:active:after, .btn-3d .tml-submit-wrap input[type=submit]:active:after, .btn-3d .track_order input[name=track]:active:after, .btn-3d .widget .dt-form .dt-btn:active:after, .btn-3d .woocommerce-Button.button:active:after, .btn-3d .woocommerce-Button[name=register]:active:after, .btn-3d .woocommerce-Reviews .submit:active:after, .btn-3d .wpcf7-form input[type=submit]:active:after, .btn-3d .wpcf7-submit:active:after, .btn-3d a.button:active:after, .btn-3d button.button:active:after, .btn-3d button[name=calc_shipping]:active:after, .btn-3d div.mc4wp-form button[type=submit]:active:after, .btn-3d input#place_order:active:after, .btn-3d input[name=apply_coupon]:active:after, .btn-3d input[name=login]:active:after, .btn-3d input[name=save_address]:active:after, .btn-3d input[type=reset]:active:after, .btn-3d input[type=submit]:not([name=update_cart]):active:after, .btn-flat #place_order:active:after, .btn-flat .button.wc-backward:active:after, .btn-flat .checkout-button:active:after, .btn-flat .dt-btn:not(.btn-light):not(.light-bg-btn):not(.outline-btn):not(.outline-bg-btn):active:after, .btn-flat .dt-form button:active:after, .btn-flat .dt-wc-btn:active:after, .btn-flat .mc4wp-form input[type=submit]:active:after, .btn-flat .nsu-submit:active:after, .btn-flat .post-password-form input[type=submit]:active:after, .btn-flat .single_add_to_cart_button.button:active:after, .btn-flat .tml-submit-wrap input[type=submit]:active:after, .btn-flat .track_order input[name=track]:active:after, .btn-flat .widget .dt-form .dt-btn:active:after, .btn-flat .woocommerce-Button.button:active:after, .btn-flat .woocommerce-Button[name=register]:active:after, .btn-flat .woocommerce-Reviews .submit:active:after, .btn-flat .wpcf7-form input[type=submit]:active:after, .btn-flat .wpcf7-submit:active:after, .btn-flat a.button:active:after, .btn-flat button.button:active:after, .btn-flat button[name=calc_shipping]:active:after, .btn-flat div.mc4wp-form button[type=submit]:active:after, .btn-flat input#place_order:active:after, .btn-flat input[name=apply_coupon]:active:after, .btn-flat input[name=login]:active:after, .btn-flat input[name=save_address]:active:after, .btn-flat input[type=reset]:active:after, .btn-flat input[type=submit]:not([name=update_cart]):active:after{
	background-color: transparent !important;
}
/*======= Global Rules ====*/
/*======= Header Begin ========*/
ul#primary-menu span.menu-text{
	text-transform: uppercase;
}

/*======= Header End ========*/
/*======= Footer Begin =========*/

.mailster-wrapper.mailster-submit-wrapper.form-submit {
    display: inline-block;
    width: 20%;
}

.mailster-wrapper.mailster-email-wrapper {
    width: 75%;
    display: inline-block;
}
section#mailster_signup-3 input.submit-button.button {
    width: 100%;
    text-transform: uppercase;
}

section#mailster_signup-3 .widget-title {
    font-size: 30px;
    text-transform: uppercase;
    letter-spacing: 3px;
}

span.Social.media>a {
    font-size: 25px;
    padding: 5px;
    border: 2px solid;
    margin-right: 10px;
    border-radius: 100%;
}
#footer section.widget.widget_text.wf-cell.wf-2-3, #footer section.widget.widget_text.wf-cell.wf-1-3 {
    width: 33%;
    font-family: "Gravity-regular";
    color: #fff;
}

#footer .footer-third h2 {
    color: #e10915;
    font-family: "Gravity-Bold" !important;
    text-transform: uppercase;
}
/*======= Footer End =========*/
/*======= Homepage Begin ========*/
div#homepage-video {
    text-align: center;
}
.our-developments .dt-fancy-title::after,.events .dt-fancy-title::after{
	
	content: " ";
	display: block;
	width: 20%;
	border: 2px solid #ff0000;
	margin: 0 auto;
}

.small-slider .ult-carousel-wrapper{
  position: relative;
  bottom: 50px;
}
/*======= Homepage End ========*/
/*======= Media Queries Begin ========*/
@media screen and (max-width: 1100px){
	
	li.menu-item.menu-item-type-custom.menu-item-object-custom>a {
	    margin-left: 5px;
	    margin-right: 5px;
	}
	ul#primary-menu span.menu-text{
		font-size: 15px;
	}
}

@media screen and (max-width: 778px){

	#footer section.widget.widget_text.wf-cell.wf-2-3, #footer section.widget.widget_text.wf-cell.wf-1-3{
	    width: 100%;
	    text-align: center;
	}
}
/*======= Media Queries End ========*/